<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.soewidiatmaka.gamelanjv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Fullscreen.GamelanJv">
        <activity
            android:name=".Test"
            android:screenOrientation="landscape">
        </activity>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appId" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <activity
            android:name=".PopupAbout"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".KempulSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".KempulPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".KenongSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".KenongPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".GenderPenerusSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".GenderBarungSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".GenderPanembungSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".GenderPenerusPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".GenderBarungPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".GenderPanembungPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".SaronPenerusSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".SaronBarungSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".SaronPenerusPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".SaronBarungPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".SaronPanembungSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".SaronPanembungPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".KendhangCiblonActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".KendhangKalihActivity"
            android:screenOrientation="landscape"
            android:noHistory="true" />
        <activity
            android:name=".BonangPenerusSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".BonangPenerusPelogActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".BonangBarungSlendroActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".BonangBarungActivity"
            android:screenOrientation="landscape"
            android:noHistory="true" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="home"
            android:screenOrientation="landscape"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
    </application>

</manifest>